* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: auto;
  max-height: 700px;
}

.swiper-slide {
  position: relative;
  font-size: 18px;
  background: black;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .title {
  position: absolute;
  top: 17rem;
  left: 20%;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.swiper-slide .subtitle {
  position: absolute;
  top: 21rem;
  left: 20%;
  font-size: 16px;
  color: #fff;
}

.swiper-slide .button {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
  top: 23rem;
  left: 20%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  background: #13151b;
  color: #a6adba;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}
